.DSRL-Logo{
    height: 90px;
    border-radius: 5%;
    position: absolute;
    top: 3px;
}


.navbar{
    display: flex;
    font-size: 25px;  
}

header{
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  color: rgb(0, 0, 0);
  width: 98.5%;
  padding: 10px 5px;
  background-color: rgb(255, 255, 255);
}

#SiteName{
    
    position: absolute;
    width: 129px;
    height: 70px;
    left: 115px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 4;
    font-size: 18px;
    line-height: 170%;
    color: #000000;
    margin-right: px;
}


.ConferanceLanding{

    display: flex;
    background-image: url(Images/PurpleSliding\ Background.png);
    background: linear-gradient(to left,
     #ffffff 40%,
     #adb0c8,
     #7079c1 );
    padding: 70px;
    color: white; 
    text-align: right;
}

#ConferanceTitle{
    color: #080041;
    font-weight: 00000;
    font-size: 60px;
    width:50%;
    text-shadow: 1.5px 1.5px #716c6c;
    font-family: 'Archivo';
}


#CustomDSLogo{
    
}

#LocationInfo{
    color: #4b4a4e;
    font-weight: 00000;
    font-size: 20px;
    width:50%;
    font-family: 'Archivo';
}

#InfoContainer{
    text-align: center;
    align-items: center;
}

#EventDetails{
    display: flex;
    font-size: 12px;
    font-family: 'Archivo';
    line-height: 300%;
    padding-top: 150px;
}

#WomanOnComputer{
    width: 40%;
    height:40%;
    padding:30px;
    padding-right: 90px;
    box-shadow: #000000;
    border-color:#000000;
}

#Details{
    padding-top: 40px;
}